[user]
  name = whywaita
  email = whywaita@whywrite.it
  signingkey = 7D2F4F0E
[color]
  status = auto
  ui = auto
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[gpg]
  program = gpg2
[ghq]
  root = ~/go/src
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[wt]
	basedir = .worktrees
